<div class="card">
  <div class="card-body">
    <form #todoForm="ngForm" (ngSubmit)="submitOnClick()">
      <div class="form-group">
        <label for="todoItem">Todo Item</label>
        <input
          required
          ngModel
          #todoItem="ngModel"
          type="text"
          name="todoItem"
          class="form-control"
          id="todoItem"
        />
      </div>
      <button type="submit" mat-raised-button color="primary" *ngIf="!editMode">
        Add Todo
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="editMode"
        (click)="updateOnClick()"
      >
        Update Todo
      </button>
    </form>
  </div>
</div>
