<div class="card">
  <div class="card-header">Student Form</div>
  <div class="card-body">
    <form #stdForm="ngForm" (ngSubmit)="submitOnClick()">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input
          required
          ngModel
          #fname="ngModel"
          type="text"
          name="fname"
          class="form-control"
          id="fname"
        />
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input
          required
          ngModel
          #lname="ngModel"
          type="text"
          name="lname"
          class="form-control"
          id="lname"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          required
          ngModel
          #email="ngModel"
          type="text"
          name="email"
          class="form-control"
          id="email"
        />
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input
          required
          ngModel
          #contact="ngModel"
          type="text"
          name="contact"
          class="form-control"
          id="contact"
        />
      </div>
      <button mat-raised-button color="primary" *ngIf="!editMode">
        Add Student
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="editMode"
        (click)="updateOnClick()"
      >
        Update Student
      </button>
    </form>
  </div>
</div>
