


<h1 class="bg-warning text-center p-2">
  <strong>Todo CRUD with API Call In service</strong>
</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-products-dashboard></app-products-dashboard>
    </div>
  </div>
</div> 

<!-- ------------------------------------------------------------------------------- -->


<h1 class="bg-warning text-center p-2">
  <strong>Todo CRUD with API Call In service</strong>
</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-passenger-dashboard></app-passenger-dashboard>
    </div>
  </div>
</div> 











<!-- <h1 class="bg-primary p-3 m-0"></h1>
<h1 class="bg-warning text-center p-2">
  <strong>Todo CRUD with API Call In service</strong>
</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-todos-dashboard></app-todos-dashboard>
    </div>
  </div>
</div> -->

<!-- ------------------------------------------------------------------------- -->


<!-- <h1 class="bg-primary p-3 m-0"></h1>
<h1 class="bg-warning text-center p-2">
  <strong>Student CRUD with API Call In service</strong>
</h1>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-students-dashboard></app-students-dashboard>
    </div>
  </div>
</div> -->

<!-- ------------------------------------------------------------------------- -->

